{% extends "Master/ViewController.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Detalle del Estado de Tarea</h2>
        </div>
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">Nombre:</dt>
                <dd class="col-sm-9">{{ fsc.model.nombre }}</dd>
            </dl>
            <a href="{{ fsc.url() }}?action=edit&id={{ fsc.model.id }}" class="btn btn-primary">
                <i class="fas fa-edit"></i> Editar
            </a>
            <a href="{{ fsc.url() }}" class="btn btn-secondary">
                <i class="fas fa-arrow-left"></i> Volver al listado
            </a>
        </div>
    </div>
</div>
{% endblock %}