{% extends "Master/EditController.html.twig" %}

{% block body %}
<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h2>Asignar Puesto a Actividad</h2>
        </div>
        <div class="card-body">
            <form method="post" class="form">
                <div class="form-group">
                    <label>Puesto:</label>
                    <select name="puesto_id" class="form-control" required>
                        <option value="">-- Seleccione --</option>
                        {% for puesto in fsc.puestos %}
                            <option value="{{ puesto.id }}">{{ puesto.denominacion }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="form-group">
                    <label>Actividad:</label>
                    <select name="actividad_id" class="form-control" required>
                        <option value="">-- Seleccione --</option>
                        {% for actividad in fsc.actividades %}
                            <option value="{{ actividad.id }}">{{ actividad.nombre }}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="text-right">
                    <button class="btn btn-primary" type="submit">
                        <i class="fas fa-save"></i> Guardar
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}